.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.input {
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 8px 8px 35px;
    background-repeat: no-repeat;
    background-position: left 11px center;
}

.address {
    flex: 0.8;
}

.input-address {
    width: 100%;
    background-image: url(../../../public/img/icon/home.svg);
}

.search-button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 9px;
    border: none;
    background: transparent url(../../../public/img/icon/search.svg) center no-repeat;
}

.search-button:hover {
    background-size: 25px 25px;
}

.search {
    margin-left: auto;
}

.input-search {
    width: 300px;
    outline: none;
}

.search-label {
    position: relative;
}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.button:hover {
    background: #1890ff;
    border: 1px solid #1890ff;
    color: #fff;
}

.button-primary {
    background: #1890ff;
    border: 1px solid #1890ff;
    color: #fff;
    margin-right: 10px;
}

.button-primary:hover {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    color: #595959;
}

.button-icon {
    margin-right: 6px;
}

.button-card-text {
    margin-right: 10px;
}

.button-auth {
    background-position: 20px 13px;
}

.button-primary .button-auth-svg {
    width: 24px;
    height: 24px;
    background-color: #fff;
    -webkit-mask: url("../../../public/img/icon/user.svg") no-repeat 50% 50%;
    mask: url("../../../public/img/icon/user.svg") no-repeat 50% 50%;
    background-repeat: no-repeat;
}

.button .button-login-svg {
    width: 27px;
    height: 20px;
    background-color: #fff;
    -webkit-mask: url("../../../public/img/icon/login.svg") no-repeat 50% 50%;
    mask: url("../../../public/img/icon/login.svg") no-repeat 50% 50%;
    background-repeat: no-repeat;
}

.button-primary:hover .button-auth-svg {
    background-color: #595959;
}

.button-primary:hover .button-login-svg {
    background-color: #595959;
}

.button-primary:hover .button-svg {
    background-color: #595959;
}

.button .button-cart-svg {
    width: 24px;
    height: 24px;
    background-color: #595959;
    -webkit-mask: url("../../../public/img/icon/shopping-cart.svg") no-repeat 50% 50%;
    mask: url("../../../public/img/icon/shopping-cart.svg") no-repeat 50% 50%;
    background-repeat: no-repeat;
}

.button-primary .button-cart-svg {
    background-color: #fff;
}

.button:hover .button-cart-svg {
    background-color: #fff;
}

.button-primary:hover .button-cart-svg {
    background-color: #595959;
}

.button-cart {
    display: flex;
    margin: 0 5px;
}

.button-out {
    display: flex;
    margin: 0 5px;
}

.user-name {
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
}